rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // Allow write only
      allow write: if true;
      
      // Deny read, update, delete
      allow read, update, delete: if false;
    }
  }
}
